.display_cont {
  display: flex;
  flex-direction: column;
  padding: 25px;
  align-items: center;
  width: 500px;
}

.notes_cont {
  height: 100vh;
  overflow: auto;
  margin: 10px;
}

.loader {
  font-size: 36px;
  width: 100%;
  text-align: center;
}
